<!DOCTYPE html>

    <h1> correy Schaffer flask tutorials </h1>

    <div class="container">
        <!-- send a response feedback message   -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{message}}
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% block content %}
        {% endblock content %}
    </div>
